* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, rgb(20, 20, 120), rgb(230, 10, 90));
    
}

#root-container {
    padding: 32px;
    padding-bottom: 32px;
}

#title-header {
    font-size: 48px;
    text-align: center;
    color: white;
    margin-top: 24px;
    background: -webkit-linear-gradient(90deg, aqua, rgb(60, 60, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.light-container {
    margin-left: 18%;
    margin-top: 32px;
    width: 60%;
    border-radius: 12px;
    border: 2px solid aqua;
    background-color: rgba(255, 0, 128, 0.2);

    display: inline-flex;
    flex-direction: column;
}

.audio-button {
    font-size: 36px;
    color: white;
    text-align: center;
    border: none;
    padding-block: 16px;
    border-radius: 12px;
    background-color: rgb(220, 0, 80);
    box-shadow: rgb(20, 20, 20, 0.4) 0px 20px 30px -10px;
    margin-block: 12px;
    transition: all 200ms;
    display: block;
}

.audio-button:hover {
    box-shadow: rgb(0, 0, 0, 0.5) 0px 20px 30px -10px;
    background-color: rgb(255, 0, 93);
}
